alias v=vim
alias t=tmux
alias ta='tmux atta'
alias aliases='vim $HOME/.aliases && source $HOME/.aliases'
alias vrc='vim $HOME/.vim/vimrc'
alias vimrc=vrc
alias q=exit
alias more=less
alias so=source
alias n='vim -c "e $HOME/notes"'
alias pwgen="pwgen -c -s -n -y -1 32"
alias p=pass
alias df='df -h'
alias free='free -m'
alias pg=psgrep
alias batt='upower -i $(upower -e | grep BAT) | grep --color=never -E "state|to\ full|to\ empty|percentage"'
alias g=git
alias cdb="source ~/bin/cdb && cdb"
alias cdba="source ~/bin/cdba && cdba"
alias cdbd="source ~/bin/cdbd && cdbd"
alias cdbe="vim ~/.config/bmdirs"
alias cd_fzf=~/bin/cd_fzf

