shopt -s expand_aliases

alias ...="cd ../.."
alias ..="cd .."
alias .a="vim $HOME/.aliases && source $HOME/.aliases"
alias .b="vim $HOME/.bashrc"
alias .bs="vim ~/.config/bspwm/bspwmrc"
alias .d="cd $HOME/git/dotfiles"
alias .g="vim $HOME/.gitconfig"
alias .h="cd $HOME"
alias .s="vim $HOME/.ssh/config"
alias .sx="vim ~/config/sxhkd/sxhkdrc && pkill -USR1 -x sxhkd"
alias .t="vim $HOME/.tmux.conf"
alias .v="vim -c 'e \$MYVIMRC'"
alias .z="vim $HOME/.zshrc"
alias batt=$HOME/bin/batt
alias cdb="source ~/bin/cdb"
alias cdba="source ~/bin/cdba"
alias cdbd="source ~/bin/cdbd"
alias cdbe="vim ~/.config/bmdirs"
alias cdf="source $HOME/bin/cdf"
alias clear-gpg-passwd="gpg-connect-agent reloadagent /bye"
alias dec=$HOME/bin/DecryptGPG
alias df='df -h'
alias enc=$HOME/bin/EncryptGPG
alias f="ls -A|wc -l"
alias ff=firefox
alias free='free -m'
alias g=git
alias ga=$HOME/bin/ga
alias gd=$HOME/bin/gd
alias gl=$HOME/bin/gl
alias gp=$HOME/bin/gp
alias gsts=$HOME/bin/gsts
alias gpg-agent-restart=$HOME/bin/gpg-agent-restart
alias gpg-delete-keys=$HOME/bin/gpg-delete-keys
alias gpg-delete-secret-keys=$HOME/bin/gpg-delete-secret-keys
alias gpg-edit-key=$HOME/bin/gpg-edit-key
alias gpg-export-secret-key=$HOME/bin/gpg-export-secret-key
alias gpg-export=$HOME/bin/gpg-export
alias gpg-gen-key=$HOME/bin/gpg-gen-key
alias gpg-list-keys-short=$HOME/bin/gpg-list-keys-short
alias gpg-list-keys=$HOME/bin/gpg-list-keys
alias gpg-list-secret-keys-short=$HOME/bin/gpg-list-secret-keys-short
alias gpg-list-secret-keys=$HOME/bin/gpg-list-secret-keys
alias gps=$HOME/bin/gps
alias h=history
alias l=ll
alias ll=$HOME/bin/ll
alias lsx="ls -F | grep '*$'"  # pokazuje pliki wykonywalne w lokalizacji
alias mkcdir="source $HOME/bin/mkcdir $1"
alias more=less
alias n='vim -c "e $HOME/notes"'
alias p=" pass"
alias pass=" pass"
alias pg=$HOME/bin/psgrep
alias pu=$HOME/bin/pu
alias push=$HOME/bin/push
alias pwgen=$HOME/bin/pwgen
alias q=exit
alias so=source
alias suspend="sudo systemctl suspend"
alias sysdis="sudo systemctl disable"
alias sysena="sudo systemctl enable"
alias sysstart="sudo systemctl start"
alias sysstop="sudo systemctl stop"
alias t=tmux
alias ta='tmux atta'
alias tree=$HOME/bin/tree
alias v=vim
alias vimrc=".v"
alias vrc=".v"
