 alias cdba="source ~/bin/cdba"
alias ...="cd ../.."
alias ..="cd .."
alias .a="vim $HOME/.aliases && source $HOME/.aliases"
alias .b="vim $HOME/.bashrc"
alias .bs="vim ~/.config/bspwm/bspwmrc"
alias .d="cd $HOME/git/dotfiles"
alias .s="vim $HOME/.ssh/config"
alias .sx="vim ~/config/sxhkd/sxhkdrc && pkill -USR1 -x sxhkd"
alias .t="vim $HOME/.tmux.conf"
alias .v="vim -c 'e \$MYVIMRC'"
alias .z="vim $HOME/.zshrc"
alias batt=$HOME/bin/batt
alias cdb="source ~/bin/cdb"
alias cdbd="source ~/bin/cdbd"
alias cdbe="vim ~/.config/bmdirs"
alias cdf="source $HOME/bin/cdf"
alias clear-gpg-passwd="gpg-connect-agent reloadagent /bye"
alias dec=$HOME/bin/DecryptGPG
alias df='df -h'
alias enc=$HOME/bin/EncryptGPG
alias f="ls -A|wc -l"
alias ff=firefox
alias free='free -m'
alias g=git
alias ga=~/bin/ga
alias gl="git log --graph --abbrev --decorate --format=format:'%C(bold green)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold yellow)(%ar)%C(reset)%C(auto)%d%C(reset)%n''        %C(white)%s%C(reset) %C(dim white)- %an%C(reset)' --all"
alias gp=~/bin/gp
alias h=history
alias l=ll
alias ll="exa -al --group-directories-first --git --header"
alias lsx="ls -F | grep '*$'"  # pokazuje pliki wykonywalne w lokalizacji
alias mkcdir="source $HOME/bin/mkcdir $1"
alias more=less
alias n='vim -c "e $HOME/notes"'
alias p=" pass"
alias pass=" pass"
alias pg=$HOME/bin/psgrep
alias pu="git pull"
alias push="git push"
alias pwgen="pwgen -c -s -n -y -1 32"
alias q=exit
alias so=source
alias suspend="sudo systemctl suspend"
alias sysdis="sudo systemctl disable"
alias sysena="sudo systemctl enable"
alias sysstart="sudo systemctl start"
alias sysstop="sudo systemctl stop"
alias t=tmux
alias ta='tmux atta'
alias tree="exa -l -a -h -g --git --tree"
alias v=vim
alias vimrc=".v"
alias vrc=".v"
