*.swp
.vim/.colorscheme
.vim/.netrwhist
.vim/autoload
.vim/plugged
.vim/undo
.vim/view
.vim/viminfo
.config/vars_local
.config/aliases_local
bin/README.md
bin/alacritty
bin/bat
bin/broot
bin/clipctl
bin/clipdel
bin/clipdelete
bin/clipfsck
bin/clipmenu
bin/clipmenud
bin/clipnotify
bin/dmenu
bin/dmenu_path
bin/dmenu_run
bin/dwm
bin/exa
bin/fd
bin/fzf
bin/fzf-tmux
bin/gh
bin/glow
bin/gopass
bin/ion
bin/joplin
bin/lazygit
bin/lf
bin/maple
bin/rg
bin/sd
bin/signal
bin/sk
bin/sk-tmux
bin/st
bin/st-copyout
bin/st-urlhandler
bin/st.info
bin/install.sh
notes
.vim/yankring_history*
