.vim/autoload
.vim/plugged
.vim/view
.vim/undo
.vim/viminfo
.vim/.colorscheme
.vim/.netrwhist
bin/alacritty
bin/bat
bin/exa
bin/fd
bin/broot
bin/dmenu
bin/dmenu_path
bin/dmenu_run
bin/gh
bin/lazygit
bin/ion
bin/glow
bin/fzf
bin/fzf-tmux
bin/gopass
bin/maple
bin/lf
bin/rg
bin/sd
bin/sk
bin/sk-tmux
bin/clipctl
bin/clipdel
bin/clipfsck
bin/clipmenu
bin/clipmenud
bin/clipdelete
bin/clipnotify
bin/st
bin/st-copyout
bin/st-urlhandler
bin/st.info
bin/dwm
notes
*.swp
